<img src="../Img/Python_SQL_PI.png" style="width:100%">


<p style="font-size:22px;text-align:center">Контрольная работа 1</p>

<a id = Home></a>

7 апреля 2022 года, пн<br>
ПИ20-1, ПИ20-2, ПИ20-3, ПИ20-4, ПИ20-5, ПИ20-6 (2 подгруппа) <br>

База данных "Студенты"

```
STUDENT
STUDENT_ID — числовой код, идентифицирующий студента (идентификатор студента),
SURNAME — фамилия студента,
NAME — имя студента,
STIPEND — стипендия, которую получает студент,
KURS — курс, на котором учится студент,
CITY — город, в котором живет студент,
BIRTHDAY — дата рождения студента,
UNIV_ID — идентификатор университета, в котором учится студент.

LECTURER
LECTURER_ID — идентификатор преподавателя,
SURNAME — фамилия преподавателя,
NAME — имя преподавателя,
CITY — город, в котором живет преподаватель,
UNIV_ID — идентификатор университета, в котором работает преподаватель

SUBJECT
SUBJ_ID — идентификатор предмета обучения,
SUBJ_NAME — наименование предмета обучения,
HOUR — количество часов, отводимых на изучение предмета,
SEMESTER — семестр, в котором изучается данный предмет.

UNIVERSITY
UNIV_ID — идентификатор университета,
UNIV_NAME — название университета,
RATING — рейтинг университета,
CITY — город, в котором расположен университет.

EXAM_MARKS
EXAM_ID — идентификатор экзамена,
STUDENT_ID — идентификатор студента,
SUBJ_ID — идентификатор предмета обучения,
MARK — экзаменационная оценка,
EXAM_DATE — дата экзамена.

SUBJ_LECT
LECTURER_ID — идентификатор преподавателя,
SUBJ_ID — идентификатор предмета обучения.
```

<img src="../Img/Students_Schema.png" style="width:79%">

In [1]:
from sqlalchemy import MetaData, Table, create_engine, select, and_, or_, not_
from sqlalchemy.sql import func, distinct, exists

In [7]:
s = select()
dir(s)

['__bool__',
 '__class__',
 '__class_getitem__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__nonzero__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '__visit_name__',
 '__weakref__',
 '_add_context_option',
 '_all_selected_columns',
 '_annotate',
 '_annotations',
 '_annotations_cache_key',
 '_assert_no_memoizations',
 '_attributes',
 '_auto_correlate',
 '_bind',
 '_cache_key_traversal',
 '_clone',
 '_clone_annotations_traverse_internals',
 '_cloned_set',
 '_compile_options',
 '_compile_state_factory',
 '_compile_state_plugin',
 '_compile_w_cache',
 '_compiler',
 '_compiler_dispatch',
 '_constructor',
 '_copy_internals',
 '_correlate',
 '_correlate_except',
 '_create',
 '_create_future_select',
 '_create_raw_select',
 '_create_select',
 '_create_select_from_fromclause',
 '_deannotate',
 '_distinct',
 '_distinct_on',
 '_effective_plugin_target',
 '_ensure_disambiguated_names',
 '_executable_traverse_internals',
 '_execute_on_connection',
 '_execution_options',
 '_fetch_clause',
 '_fetch_clause_options',
 '_filter_by_zero',
 '_for_update_arg',
 '_from_obj',
 '_from_objects',
 '_gen_cache_key',
 '_generate',
 '_generate_cache_attrs',
 '_generate_cache_key',
 '_generate_cache_key_for_object',
 '_generate_columns_plus_names',
 '_generate_fromclause_column_proxies',
 '_group_by_clause',
 '_group_by_clauses',
 '_has_ctes_traverse_internals',
 '_has_hints_traverse_internals',
 '_has_prefixes_traverse_internals',
 '_has_row_limiting_clause',
 '_has_suffixes_traverse_internals',
 '_having_criteria',
 '_hierarchy_supports_caching',
 '_hints',
 '_implicit_subquery',
 '_independent_ctes',
 '_is_bind_parameter',
 '_is_clause_list',
 '_is_clone_of',
 '_is_from_clause',
 '_is_from_container',
 '_is_has_cache_key',
 '_is_immutable',
 '_is_lambda_element',
 '_is_lateral',
 '_is_returns_rows',
 '_is_select_container',
 '_is_select_statement',
 '_is_singleton_constant',
 '_is_text_clause',
 '_is_textual',
 '_iterate_from_elements',
 '_label_style',
 '_legacy_setup_joins',
 '_limit',
 '_limit_clause',
 '_memoized_keys',
 '_memoized_select_entities',
 '_needs_parens_for_grouping',
 '_negate',
 '_negate_in_binary',
 '_offset',
 '_offset_clause',
 '_offset_or_limit_clause',
 '_offset_or_limit_clause_asint',
 '_order_by_clause',
 '_order_by_clauses',
 '_order_by_label_element',
 '_original_compiler_dispatch',
 '_prefixes',
 '_propagate_attrs',
 '_raw_columns',
 '_refresh_for_new_column',
 '_replace_params',
 '_reset_memoizations',
 '_role_name',
 '_scalar_type',
 '_set_compile_options',
 '_set_entities',
 '_set_memoized_attribute',
 '_set_propagate_attrs',
 '_setup_joins',
 '_setup_prefixes',
 '_setup_suffixes',
 '_simple_int_clause',
 '_statement_hints',
 '_suffixes',
 '_traverse_internals',
 '_ungroup',
 '_update_compile_options',
 '_where_criteria',
 '_whereclause',
 '_with_annotations',
 '_with_binary_element_type',
 '_with_context_options',
 '_with_options',
 'add_columns',
 'add_cte',
 'alias',
 'allows_lambda',
 'append_column',
 'append_correlation',
 'append_from',
 'append_group_by',
 'append_having',
 'append_order_by',
 'append_prefix',
 'append_whereclause',
 'apply_labels',
 'as_scalar',
 'bind',
 'c',
 'column',
 'column_descriptions',
 'columns',
 'columns_clause_froms',
 'compare',
 'compile',
 'correlate',
 'correlate_except',
 'corresponding_column',
 'create_legacy_select',
 'cte',
 'description',
 'distinct',
 'entity_namespace',
 'except_',
 'except_all',
 'execute',
 'execution_options',
 'exists',
 'exported_columns',
 'fetch',
 'filter',
 'filter_by',
 'from_statement',
 'froms',
 'get_children',
 'get_execution_options',
 'get_final_froms',
 'get_label_style',
 'group_by',
 'having',
 'inherit_cache',
 'inner_columns',
 'intersect',
 'intersect_all',
 'is_clause_element',
 'is_delete',
 'is_derived_from',
 'is_dml',
 'is_insert',
 'is_select',
 'is_selectable',
 'is_text',
 'is_update',
 'join',
 'join_from',
 'label',
 'lateral',
 'limit',
 'memoized_attribute',
 'memoized_instancemethod',
 'offset',
 'options',
 'order_by',
 'outerjoin',
 'outerjoin_from',
 'params',
 'prefix_with',
 'reduce_columns',
 'replace_selectable',
 'scalar',
 'scalar_subquery',
 'select',
 'select_from',
 'selectable',
 'selected_columns',
 'self_group',
 'set_label_style',
 'slice',
 'stringify_dialect',
 'subquery',
 'suffix_with',
 'supports_execution',
 'union',
 'union_all',
 'unique_params',
 'uses_inspection',
 'where',
 'whereclause',
 'with_for_update',
 'with_hint',
 'with_only_columns',
 'with_statement_hint']

In [2]:
# ../Data/Students.db
engine = create_engine('sqlite+pysqlite:////Users/vladislavvorosilov/Desktop/Python_SQL/Python_SQL_PI_2021_22_s2/Data/Students.db')
conn = engine.connect()

In [3]:
metadata = MetaData() # Объект-контейнер, содержит информацию о схеме данных
metadata.reflect(bind=engine) # Отображение БД

In [4]:
# Таблицы в БД
metadata.tables.keys()

dict_keys(['city', 'exam_marks', 'student', 'university', 'subject', 'lecturer', 'subj_lect'])

In [5]:
exam_marks=Table("exam_marks", metadata, autoload=True, autoload_with="engine")
lecturer=Table("lecturer", metadata, autoload=True, autoload_with="engine")
student=Table("student", metadata, autoload=True, autoload_with="engine")
subj_lect=Table("subj_lect", metadata, autoload=True, autoload_with="engine")
subject=Table("subject", metadata, autoload=True, autoload_with="engine")
university=Table("university", metadata, autolad=True, autolad_with="engine")

<img src=../Img/pencil.png style="width:190px;height:190px">
<p style="background-color:powderblue; font-size:125%; color: rebeccapurple;">Выполните задания</p>
<p>Выполните задания c помощью Jupyter Notebook и библиотеки SQLAlchemy</p>

1. Напишите запрос для получения идентификаторов, имён, фамилий и городов студентов без определенного места жительства.
2. Напишите запрос для получения списка учебных заведений, названия которых состоят как минимум из трех слов.
3. Напишите запрос, выполняющий вывод количества экзаменов, сдававшихся (вне зависимости от оценки) студентами 12, 32, 55. Результат должен содержать идентификатор студента и количество сданных им экзаменов. Результат упорядочить по убыванию количества экзаменов.
4. Для каждого дня сдачи экзаменов, сдававшихся в мае, напишите запрос, выводящий максимальные оценки, полученные по каждому предмету.
5. Для каждого предмета напишите запрос, выводящий количество преподавателей, ведущих по нему занятия. Результат должен содержать название предмета и число преподавателей.
6. С помощью подзапроса напишите запрос, выполняющий вывод результатов экзаменов, сданных (оценка больше двух) по предметам первого семестра. Результат должен содержать идентификатор экзамена, идентификатор предмета, дату в формате YYYY-MM-DD.
7. Отредактируйте следующий запрос с подзапросом, чтобы найти всех студентов, имеющих только отличные оценки.
```
s = """
SELECT DISTINCT student_id, surname, name
FROM student st
WHERE 4 < (
    SELECT min(mark) FROM exam_marks em WHERE ...
)
"""
```
8. Напишите запрос, выполняющий вывод идентификаторов, фамилий, имён студентов, средняя оценка которых превышает 3 балла на экзаменах по предметам 3 семестра.
9. Напишите запрос, выполняющий вывод списка идентификаторов, фамилий, имён, городов студентов, имеющих только отличные оценки и проживающих в городе, не совпадающем с городом их университета.
10. Покажите ИД экзамена, ИД студента, ИД предмета, оценку, дату для всех экзаменов, сдававшихся студентами ВГУ.
11. Напишите запрос, показывающий, сколько круглых отличников в каждом университете. Результат должен содержать название университета и число круглых отличников в нём.
12. Напишите запрос, который выполняет выборку имен и фамилий всех студентов, имеющих по предмету c идентификатором 10 балл ниже общего среднего балла.
13. С помощью EXISTS Напишите запрос, выполняющий вывод количества студентов, имеющих хотя бы одну неудовлетворительную оценку и проживающих в городе, не совпадающем с городом их университета.
14. С помощью EXISTS Напишите запрос, выполняющий вывод количества студентов, не имеющих ни одной оценки.
15.  Напишите запрос, показывающий дату первого экзамена в 2020 году, дату последнего экзамена в 2020 году, количество дней между первым и последним экзаменом в 2020 году. Подсказка: для установки фильтра на 2020 год можно использовать оператор LIKE, например `.where(func.date(exam_marks.c.exam_date).like("2020-%"))`

### 1. Напишите запрос для получения идентификаторов, имён, фамилий и городов студентов без определенного места жительства.

In [7]:
# Будем считать, что неопределённое место жительства - отсутсвие зачения столбца City
s = select(student.c.student_id, student.c.name, student.c.surname, student.c.city)
s = s.where(student.c.city == None)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT student.student_id, student.name, student.surname, student.city
FROM student
WHERE student.city IS NULL
2

[(65, 'Фёкла', 'Сергеева', None), (96, 'Фаина', 'Тимофеева', None)]

### 2. Напишите запрос для получения списка учебных заведений, названия которых состоят как минимум из трех слов.

In [83]:
s = select(university)
s = s.where(university.c.univ_name.like('% % %'))

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT university.univ_id, university.univ_name, university.rating, university.city
FROM university
WHERE university.univ_name LIKE :univ_name_1
1

[(45, 'МГТУ им. Баумана', 372, 'Москва')]

### 3. Напишите запрос, выполняющий вывод количества экзаменов, сдававшихся (вне зависимости от оценки) студентами 12, 32, 55. Результат должен содержать идентификатор студента и количество сданных им экзаменов. Результат упорядочить по убыванию количества экзаменов.

In [20]:
s = select(student.c.student_id, func.count(exam_marks.c.exam_id))
s = s.where(and_(student.c.student_id.in_((12,32,55,)),  student.c.student_id == exam_marks.c.student_id))
s = s.group_by(student.c.student_id)
s = s.order_by(func.count(exam_marks.c.exam_id).desc())

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT student.student_id, count(exam_marks.exam_id) AS count_1
FROM student, exam_marks
WHERE student.student_id IN (__[POSTCOMPILE_student_id_1]) AND student.student_id = exam_marks.student_id GROUP BY student.student_id ORDER BY count(exam_marks.exam_id) DESC
3

[(12, 2), (55, 2), (32, 1)]

### 4. Для каждого дня сдачи экзаменов, сдававшихся в мае, напишите запрос, выводящий максимальные оценки, полученные по каждому предмету.

In [49]:
s = select(subject.c.subj_name, func.max(exam_marks.c.mark))
s = s.where(and_(func.date(exam_marks.c.exam_date).like("%-05-%")), subject.c.subj_id == exam_marks.c.subj_id)
s = s.group_by(exam_marks.c.subj_id, exam_marks.c.exam_date)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT subject.subj_name, max(exam_marks.mark) AS max_1
FROM subject, exam_marks
WHERE date(exam_marks.exam_date) LIKE :date_1 AND subject.subj_id = exam_marks.subj_id GROUP BY exam_marks.subj_id, exam_marks.exam_date
14

[('Информатика', 2),
 ('Информатика', 5),
 ('Информатика', 3),
 ('Программирование на языках Python и SQL', 1),
 ('Программирование на языках Python и SQL', 4),
 ('Анализ данных', 5),
 ('Анализ данных', 1),
 ('ОБЖ', 2),
 ('Физика', 4),
 ('История', 5)]

### 5. Для каждого предмета напишите запрос, выводящий количество преподавателей, ведущих по нему занятия. Результат должен содержать название предмета и число преподавателей.

In [28]:
s = select(subject.c.subj_name, func.count(subj_lect.c.lecturer_id.distinct()))
s = s.where(subject.c.subj_id == subj_lect.c.subj_id)
s = s.group_by(subject.c.subj_id)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT subject.subj_name, count(DISTINCT subj_lect.lecturer_id) AS count_1
FROM subject, subj_lect
WHERE subject.subj_id = subj_lect.subj_id GROUP BY subject.subj_id
10

[('Информатика', 5),
 ('Программирование на языках Python и SQL', 5),
 ('Анализ данных', 1),
 ('ОБЖ', 3),
 ('Физика', 1),
 ('Теория вероятностей и математическая статистика', 1),
 ('Математика', 1),
 ('История', 3),
 ('Физкультура', 1),
 ('Английский язык', 3)]

### 6. С помощью подзапроса напишите запрос, выполняющий вывод результатов экзаменов, сданных (оценка больше двух) по предметам первого семестра. Результат должен содержать идентификатор экзамена, идентификатор предмета, дату в формате YYYY-MM-DD.

In [32]:
subq = select(subject.c.subj_id)
subq = subq.where(subject.c.semester == 1).scalar_subquery()

s = select(exam_marks.c.exam_id, exam_marks.c.subj_id, func.date(exam_marks.c.exam_date))
s = s.where(and_(exam_marks.c.subj_id.in_(subq)), exam_marks.c.mark > 2)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT exam_marks.exam_id, exam_marks.subj_id, date(exam_marks.exam_date) AS date_1
FROM exam_marks
WHERE exam_marks.subj_id IN (SELECT subject.subj_id
FROM subject
WHERE subject.semester = :semester_1) AND exam_marks.mark > :mark_1
10

[(5, 10, '2020-05-26'),
 (9, 22, '2020-02-22'),
 (16, 10, '2019-05-29'),
 (22, 10, '2020-05-26'),
 (23, 22, '2019-05-29'),
 (28, 12, '2019-05-29'),
 (34, 10, '2000-01-23'),
 (43, 22, '2000-01-18'),
 (75, 10, '2000-01-23'),
 (238, 10, '2006-06-17')]

### 7. Отредактируйте следующий запрос с подзапросом, чтобы найти всех студентов, имеющих только отличные оценки.
```
s = """
SELECT DISTINCT student_id, surname, name
FROM student st
WHERE 4 < (
    SELECT min(mark) FROM exam_marks em WHERE ...
)
"""
```

In [37]:
subq = select(func.min(exam_marks.c.mark))
subq = subq.where(student.c.student_id == exam_marks.c.student_id).scalar_subquery()

s = select(student.c.student_id.distinct(), student.c.surname, student.c.name)
s = s.where(subq > 4)


print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT DISTINCT student.student_id, student.surname, student.name
FROM student
WHERE (SELECT min(exam_marks.mark) AS min_1
FROM exam_marks
WHERE student.student_id = exam_marks.student_id) > :param_1
7

[(10, 'Кузнецов', 'Борис'),
 (55, 'Белкин', 'Вадим'),
 (82, 'Лапина', 'Элеонора'),
 (88, 'Жданова', 'Ирина'),
 (91, 'Блохина', 'Ираида'),
 (92, 'Мельникова', 'Светлана'),
 (99, 'Борисова', 'Марина')]

### 8. Напишите запрос, выполняющий вывод идентификаторов, фамилий, имён студентов, средняя оценка которых превышает 3 балла на экзаменах по предметам 3 семестра.

In [40]:
subq_1 = select(subject.c.subj_id)
subq_1 = subq_1.where(subject.c.semester == 3).scalar_subquery()

subq = select(func.avg(exam_marks.c.mark))
subq = subq.where(and_(student.c.student_id == exam_marks.c.student_id), exam_marks.c.subj_id.in_(subq_1)).scalar_subquery()

s = select(student.c.student_id, student.c.surname, student.c.name)
s = s.where(subq > 3)


print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT student.student_id, student.surname, student.name
FROM student
WHERE (SELECT avg(exam_marks.mark) AS avg_1
FROM exam_marks
WHERE student.student_id = exam_marks.student_id AND exam_marks.subj_id IN (SELECT subject.subj_id
FROM subject
WHERE subject.semester = :semester_1)) > :param_1
2

[(62, 'Семенова', 'Вероника'), (99, 'Борисова', 'Марина')]

### 9. Напишите запрос, выполняющий вывод списка идентификаторов, фамилий, имён, городов студентов, имеющих только отличные оценки и проживающих в городе, не совпадающем с городом их университета.

In [41]:
subq_1 = select(student.c.student_id)
subq_1 = subq_1.where(and_(student.c.city != university.c.city, student.c.univ_id == university.c.univ_id)).scalar_subquery()


subq = select(func.min(exam_marks.c.mark))
subq = subq.where(student.c.student_id == exam_marks.c.student_id).scalar_subquery()

s = select(student.c.student_id, student.c.surname, student.c.name, student.c.city)
s = s.where(and_(subq > 4, student.c.student_id.in_(subq_1)))


print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT student.student_id, student.surname, student.name, student.city
FROM student
WHERE (SELECT min(exam_marks.mark) AS min_1
FROM exam_marks
WHERE student.student_id = exam_marks.student_id) > :param_1 AND student.student_id IN (SELECT student.student_id
FROM university
WHERE student.city != university.city AND student.univ_id = university.univ_id)
6

[(10, 'Кузнецов', 'Борис', 'Брянск'),
 (82, 'Лапина', 'Элеонора', 'Джубга'),
 (88, 'Жданова', 'Ирина', 'Тверь'),
 (91, 'Блохина', 'Ираида', 'Новый Уренгой'),
 (92, 'Мельникова', 'Светлана', 'Кропоткин (Краснод.)'),
 (99, 'Борисова', 'Марина', 'Рославль')]

### 10. Покажите ИД экзамена, ИД студента, ИД предмета, оценку, дату для всех экзаменов, сдававшихся студентами ВГУ.

In [44]:
subq = select(student.c.student_id)
subq = subq.where(and_(student.c.univ_id == university.c.univ_id, university.c.univ_name == "ВГУ")).scalar_subquery()

s = select(exam_marks.c.exam_id, exam_marks.c.student_id, exam_marks.c.subj_id, exam_marks.c.mark, func.date(exam_marks.c.exam_date))
s = s.where(exam_marks.c.student_id.in_(subq))


print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT exam_marks.exam_id, exam_marks.student_id, exam_marks.subj_id, exam_marks.mark, date(exam_marks.exam_date) AS date_1
FROM exam_marks
WHERE exam_marks.student_id IN (SELECT student.student_id
FROM student, university
WHERE student.univ_id = university.univ_id AND university.univ_name = :univ_name_1)
14

[(8, 116, 12, 1, '2020-05-26'),
 (11, 76, 56, 2, '2020-05-27'),
 (12, 88, 56, 5, '2019-09-02'),
 (13, 76, 12, 2, '2020-02-10'),
 (15, 62, 94, 4, '2021-06-02'),
 (17, 99, 94, 5, '2020-05-26'),
 (28, 10, 12, 5, '2019-05-29'),
 (29, 1, 43, 1, '2020-10-24'),
 (32, 65, 73, 1, '2020-02-21'),
 (75, 55, 10, 5, '2000-01-23')]

### 11. Напишите запрос, показывающий, сколько круглых отличников в каждом университете. Результат должен содержать название университета и число круглых отличников в нём.

In [48]:
subq = select(func.min(exam_marks.c.mark))
subq = subq.where(student.c.student_id == exam_marks.c.student_id).scalar_subquery()

s = select(university.c.univ_name, func.count(student.c.student_id))
s = s.where(and_(student.c.univ_id == university.c.univ_id, subq >4))
s = s.group_by(student.c.univ_id)


print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT university.univ_name, count(student.student_id) AS count_1
FROM university, student
WHERE student.univ_id = university.univ_id AND (SELECT min(exam_marks.mark) AS min_1
FROM exam_marks
WHERE student.student_id = exam_marks.student_id) > :param_1 GROUP BY student.univ_id
4

[('ВГУ', 4), ('ТГУ', 1), ('МГУ', 1), ('МГТУ им. Баумана', 1)]

### 12. Напишите запрос, который выполняет выборку имен и фамилий всех студентов, имеющих по предмету c идентификатором 10 балл ниже общего среднего балла.

In [65]:
# Я сделал запрос для среднего балла этого студента по всем предметам
subq_total = select(func.avg(exam_marks.c.mark))
subq_total = subq_total.where(exam_marks.c.student_id == student.c.student_id).scalar_subquery()

subq = select(exam_marks.c.mark)
subq = subq.where(and_(exam_marks.c.student_id == student.c.student_id, exam_marks.c.exam_id == 10)).scalar_subquery()


s = select(student.c.student_id, student.c.surname, student.c.name)
s = s.where(subq < subq_total)


print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT student.student_id, student.surname, student.name
FROM student
WHERE (SELECT exam_marks.mark
FROM exam_marks
WHERE exam_marks.student_id = student.student_id AND exam_marks.exam_id = :exam_id_1) < (SELECT avg(exam_marks.mark) AS avg_1
FROM exam_marks
WHERE exam_marks.student_id = student.student_id)
0

[]

### 13. С помощью EXISTS Напишите запрос, выполняющий вывод количества студентов, имеющих хотя бы одну неудовлетворительную оценку и проживающих в городе, не совпадающем с городом их университета.

In [92]:
subq_1 = select(func.min(exam_marks.c.mark))
subq_1 = subq_1.where(student.c.student_id == exam_marks.c.student_id).scalar_subquery()

subq = exists().where(and_(student.c.univ_id == university.c.univ_id, university.c.city != student.c.city))

s = select(func.count(student.c.student_id))
s = s.where(and_(subq, subq_1 < 3))

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT count(student.student_id) AS count_1
FROM student
WHERE (EXISTS (SELECT *
FROM university
WHERE student.univ_id = university.univ_id AND university.city != student.city)) AND (SELECT min(exam_marks.mark) AS min_1
FROM exam_marks
WHERE student.student_id = exam_marks.student_id) < :param_1
1

[(17,)]

### 14. С помощью EXISTS Напишите запрос, выполняющий вывод количества студентов, не имеющих ни одной оценки.

In [75]:
subq = ~exists(exam_marks.c.mark).where(exam_marks.c.student_id == student.c.student_id)

s = select(func.count(student.c.student_id))
s = s.where(subq)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT count(student.student_id) AS count_1
FROM student
WHERE NOT (EXISTS (SELECT exam_marks.mark
FROM exam_marks
WHERE exam_marks.student_id = student.student_id))
1

[(54,)]

### 15.  Напишите запрос, показывающий дату первого экзамена в 2020 году, дату последнего экзамена в 2020 году, количество дней между первым и последним экзаменом в 2020 году. Подсказка: для установки фильтра на 2020 год можно использовать оператор LIKE, например `.where(func.date(exam_marks.c.exam_date).like("2020-%"))`

In [82]:
s = select(func.min(exam_marks.c.exam_date), func.max(exam_marks.c.exam_date), func.julianday(func.max(func.date(exam_marks.c.exam_date)))-func.julianday(func.min(func.date(exam_marks.c.exam_date))))
s = s.where(func.date(exam_marks.c.exam_date).like("2020-%"))

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT min(exam_marks.exam_date) AS min_1, max(exam_marks.exam_date) AS max_1, julianday(max(date(exam_marks.exam_date))) - julianday(min(date(exam_marks.exam_date))) AS anon_1
FROM exam_marks
WHERE date(exam_marks.exam_date) LIKE :date_1
1

[(datetime.datetime(2020, 2, 10, 0, 0), datetime.datetime(2020, 12, 3, 0, 0), 297.0)]