# Домашняя работа 
## Ворошилов Владислав
## Группа ПИ20-3
## Подгруппа 2

In [30]:
# Путь до базы данных
path_to_db = '../Data/Students.db'
path_to_db = 'sqlite+pysqlite:///' + path_to_db

In [ ]:
from sqlalchemy import MetaData, Table, create_engine, select, and_, or_, not_
from sqlalchemy.sql import func, exists
engine = create_engine(path_to_db)
conn = engine.connect()
metadata = MetaData() 
metadata.reflect(bind=engine)
exam_marks=Table("exam_marks", metadata, autoload=True, autoload_with="engine")
lecturer=Table("lecturer", metadata, autoload=True, autoload_with="engine")
student=Table("student", metadata, autoload=True, autoload_with="engine")
subj_lect=Table("subj_lect", metadata, autoload=True, autoload_with="engine")
subject=Table("subject", metadata, autoload=True, autoload_with="engine")
university=Table("university", metadata, autolad=True, autolad_with="engine")

# Блок заданий с EXISTS

## 1. Напишите запрос с EXISTS, позволяющий вывести данные обо всех студентах обучающихся в вузах, имеющих рейтинг выше 300.

In [31]:
subq = exists().where(and_(student.c.univ_id == university.c.univ_id, university.c.rating > 300))

s = select(student)
s = s.where(subq)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT student.student_id, student.surname, student.name, student.stipend, student.kurs, student.city, student.birthday, student.univ_id
FROM student
WHERE EXISTS (SELECT *
FROM university
WHERE student.univ_id = university.univ_id AND university.rating > :rating_1)
63

[(6, 'Сидоров', 'Вадим', 150, 4, 'Москва', datetime.datetime(1999, 6, 7, 0, 0), 22),
 (15, 'Ордуханян', 'Рафаэль', 120, 1, 'Липецк', datetime.datetime(2003, 6, 1, 0, 0), 18),
 (32, 'Котов', 'Павел', 150, 5, 'Белгород', datetime.datetime(2001, 2, 28, 0, 0), 14),
 (57, 'Кудряшова', 'Вера', 100, 5, 'Нижневартовск', datetime.datetime(2002, 2, 18, 0, 0), 14),
 (58, 'Журавлева', 'Вера', 0, 4, 'Новосибирск', datetime.datetime(2003, 6, 14, 0, 0), 11),
 (61, 'Соколова', 'Ия', 100, 1, 'Колпашево', datetime.datetime(2002, 6, 25, 0, 0), 18),
 (63, 'Пак', 'Ирина', 100, 1, 'Магадан', datetime.datetime(2000, 8, 22, 0, 0), 15),
 (68, 'Казакова', 'Ольга', 250, 4, 'Кемерово', datetime.datetime(2000, 3, 29, 0, 0), 44),
 (69, 'Шубина', 'Елена', 0, 2, 'Камень-на-Оби', datetime.datetime(2002, 8, 24, 0, 0), 45),
 (70, 'Миронова', 'Анна', 200, 2, 'Владикавказ', datetime.datetime(2000, 10, 8, 0, 0), 46)]

## 2. Напишите предыдущий запрос, используя соединения.

In [37]:
# Для этого задания импортируем оператор JOIN 
from sqlalchemy.sql import join
s = select(student)
s = s.join(university, student.c.univ_id == university.c.univ_id)
s = s.where(university.c.rating > 300)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT student.student_id, student.surname, student.name, student.stipend, student.kurs, student.city, student.birthday, student.univ_id
FROM student JOIN university ON student.univ_id = university.univ_id
WHERE university.rating > :rating_1
63

[(6, 'Сидоров', 'Вадим', 150, 4, 'Москва', datetime.datetime(1999, 6, 7, 0, 0), 22),
 (15, 'Ордуханян', 'Рафаэль', 120, 1, 'Липецк', datetime.datetime(2003, 6, 1, 0, 0), 18),
 (32, 'Котов', 'Павел', 150, 5, 'Белгород', datetime.datetime(2001, 2, 28, 0, 0), 14),
 (57, 'Кудряшова', 'Вера', 100, 5, 'Нижневартовск', datetime.datetime(2002, 2, 18, 0, 0), 14),
 (58, 'Журавлева', 'Вера', 0, 4, 'Новосибирск', datetime.datetime(2003, 6, 14, 0, 0), 11),
 (61, 'Соколова', 'Ия', 100, 1, 'Колпашево', datetime.datetime(2002, 6, 25, 0, 0), 18),
 (63, 'Пак', 'Ирина', 100, 1, 'Магадан', datetime.datetime(2000, 8, 22, 0, 0), 15),
 (68, 'Казакова', 'Ольга', 250, 4, 'Кемерово', datetime.datetime(2000, 3, 29, 0, 0), 44),
 (69, 'Шубина', 'Елена', 0, 2, 'Камень-на-Оби', datetime.datetime(2002, 8, 24, 0, 0), 45),
 (70, 'Миронова', 'Анна', 200, 2, 'Владикавказ', datetime.datetime(2000, 10, 8, 0, 0), 46)]

## 3. Напишите запрос с EXISTS, выбирающий сведения о каждом студенте, для которого в городе его проживания имеется хотя бы один университет, в котором он не учится.

In [26]:
subq = exists().where(and_(student.c.city == university.c.city, student.c.univ_id != university.c.univ_id))

s = select(student)
s = s.where(subq)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT student.student_id, student.surname, student.name, student.stipend, student.kurs, student.city, student.birthday, student.univ_id
FROM student
WHERE EXISTS (SELECT *
FROM university
WHERE student.city = university.city AND student.univ_id != university.univ_id)
8

[(6, 'Сидоров', 'Вадим', 150, 4, 'Москва', datetime.datetime(1999, 6, 7, 0, 0), 22),
 (55, 'Белкин', 'Вадим', 250, 5, 'Воронеж', datetime.datetime(2000, 1, 7, 0, 0), 10),
 (75, 'Игнатова', 'Зинаида', 100, 5, 'Ростов', datetime.datetime(2000, 9, 26, 0, 0), 22),
 (200, 'Баранов', 'Александр', 220, 2, 'Москва', datetime.datetime(2001, 8, 18, 0, 0), 44),
 (207, 'Миронова', 'Федор', 200, 3, 'Москва', datetime.datetime(2002, 4, 15, 0, 0), 45),
 (265, 'Павлов', 'Андрей', 0, 3, 'Воронеж', datetime.datetime(2000, 11, 5, 0, 0), 10),
 (276, 'Петров', 'Антон', 200, 4, 'Ульяновск', datetime.datetime(2001, 8, 5, 0, 0), 22),
 (654, 'Лукин', 'Артем', 200, 3, 'Воронеж', datetime.datetime(2001, 12, 1, 0, 0), 10)]

## 4. Напишите запрос, выбирающий из таблицы SUBJECT данные о названиях предметов обучения, экзамены по которым сданы более чем одним студентом.

In [55]:
subq = select(exam_marks)
subq = subq.where(subject.c.subj_id == exam_marks.c.subj_id)
subq = subq.group_by(exam_marks.c.subj_id)
subq = subq.having(func.count(exam_marks.c.exam_id) > 1)

subq = exists(subq)

s = select(subject)
s = s.where(subq)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT subject.subj_id, subject.subj_name, subject.hour, subject.semester
FROM subject
WHERE EXISTS (SELECT exam_marks.exam_id, exam_marks.student_id, exam_marks.subj_id, exam_marks.mark, exam_marks.exam_date
FROM exam_marks
WHERE subject.subj_id = exam_marks.subj_id GROUP BY exam_marks.subj_id
HAVING count(exam_marks.exam_id) > :count_1)
9

[(10, 'Информатика', 56, 1),
 (11, 'Программирование на языках Python и SQL', 34, 2),
 (12, 'Анализ данных', 42, 1),
 (13, 'ОБЖ', 34, 2),
 (22, 'Физика', 34, 1),
 (43, 'Математика', 56, 2),
 (56, 'История', 34, 4),
 (73, 'Физкультура', 34, 5),
 (94, 'Английский язык', 56, 3)]

## 5. Напишите запрос для получения списка городов проживания студентов, в которых есть хотя бы один университет.

In [60]:
subq = exists().where(student.c.city == university.c.city)

s = select(func.distinct(student.c.city))
s = s.where(subq)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT distinct(student.city) AS distinct_1
FROM student
WHERE EXISTS (SELECT *
FROM university
WHERE student.city = university.city)
6

[('Москва',),
 ('Белгород',),
 ('Воронеж',),
 ('Новосибирск',),
 ('Ростов',),
 ('Ульяновск',)]