# Домашняя работа
## Ворошилов Владислав
## Группа ПИ20-3
## Подгруппа 2

1. Составьте список названий университетов с указанием суммарного количества аудиторных часов на изучение каждого предмета.

2. Получите список названий университетов вместе с фамилиями и именами студентов, получающих максимальную для каждого университета стипендию.

3. Напишите запрос для получения списка преподавателей, преподающих только один предмет. Отсортируйте результат по фамилии преподавателя. Результат должен содержать имя и фамилию преподавателя, название предмета.

4. Напишите запрос для получения списка университетов вместе с фамилиями студентов, получивших хотя бы одну отличную оценку. Результат отсортируйте по названию университета.

5. Напишите запрос, выполняющий вывод имен и фамилий преподавателей, проводящих занятия на первом курсе. Отсортируйте результат по фаимилии преподавателя.

6. Напишите запрос, выполняющий вывод наименований предметов обучения, читаемых двумя или более преподавателями. Результат должен состоять из одного столбца названий предметов, без повторов, в алфавитном порядке по возрастанию.

In [1]:
from sqlalchemy import MetaData, Table, create_engine, select, and_, or_, not_, text
from sqlalchemy.sql import func, distinct, exists
path_to_db = "../Data/Students.db"
engine = create_engine(path_to_db)
metadata_obj = MetaData() 
metadata_obj.reflect(bind=engine)
exam_marks=Table("exam_marks", metadata_obj, autoload=True, autoload_with="engine")
lecturer=Table("lecturer", metadata_obj, autoload=True, autoload_with="engine")
student=Table("student", metadata_obj, autoload=True, autoload_with="engine")
subj_lect=Table("subj_lect", metadata_obj, autoload=True, autoload_with="engine")
subject=Table("subject", metadata_obj, autoload=True, autoload_with="engine")
university=Table("university", metadata_obj, autolad=True, autolad_with="engine")
conn=engine.connect()

### 1. Составьте список названий университетов с указанием суммарного количества аудиторных часов на изучение каждого предмета.

In [5]:

stmt = select(university.c.univ_name, subject.c.subj_name, func.sum(subject.c.hour))
stmt = stmt.select_from(university)
stmt = stmt.join(lecturer, lecturer.c.univ_id == university.c.univ_id)
stmt = stmt.join(subj_lect, subj_lect.c.lecturer_id == lecturer.c.lecturer_id)
stmt = stmt.join(subject, subject.c.subj_id == subj_lect.c.subj_id)
stmt = stmt.group_by(university.c.univ_id, subject.c.subj_id)

result = conn.execute(stmt).fetchall()
print(len(result))
result[:10]

22

[('ВГУ', 'Программирование на языках Python и SQL', 34),
 ('ВГУ', 'Анализ данных', 42),
 ('ВГУ', 'ОБЖ', 34),
 ('ВГУ', 'Физика', 34),
 ('ВГУ', 'Теория вероятностей и математическая статистика', 72),
 ('ВГУ', 'История', 68),
 ('НГУ', 'Программирование на языках Python и SQL', 34),
 ('ТГУ', 'Информатика', 112),
 ('ТГУ', 'Физкультура', 34),
 ('МГУ', 'Информатика', 56)]

### 2. Получите список названий университетов вместе с фамилиями и именами студентов, получающих максимальную для каждого университета стипендию.

In [10]:
s1 = student.alias("s1")
s2 = student.alias("s2")

subq = select(func.max(s2.c.stipend))
subq = subq.where(s2.c.univ_id == university.c.univ_id).scalar_subquery()

stmt = select(university.c.univ_name, s1.c.surname, s1.c.name, s1.c.stipend)
stmt = stmt.select_from(university)
stmt = stmt.join(s1, s1.c.univ_id == university.c.univ_id)
stmt = stmt.where(s1.c.stipend == subq)
stmt = stmt.order_by(university.c.univ_id)


result = conn.execute(stmt).fetchall()
print(len(result))
result[:10]

24

[('ВГУ', 'Зайцева', 'Ольга', 250),
 ('ВГУ', 'Белкин', 'Вадим', 250),
 ('ВГУ', 'Некрасова', 'Вероника', 250),
 ('НГУ', 'Трофимов', 'Владислав', 250),
 ('БГУ', 'Суханов', 'Константин', 250),
 ('БГУ', 'Вячеслав', 'Пахомов', 250),
 ('БГУ', 'Петрова', 'Екатерина', 250),
 ('ТГУ', 'Мельникова', 'Светлана', 250),
 ('ВГМА', 'Кондрат', 'Синицин', 200),
 ('ВГМА', 'Валерия', 'Овчинникова', 200)]

### 3. Напишите запрос для получения списка преподавателей, преподающих только один предмет. Отсортируйте результат по фамилии преподавателя. Результат должен содержать имя и фамилию преподавателя, название предмета.

In [13]:
sl_1 = subj_lect.alias("sl_1")
sl_2 = subj_lect.alias("sl_2")

subq = select(func.count(sl_2.c.subj_id))
subq = subq.where(sl_2.c.lecturer_id == lecturer.c.lecturer_id).scalar_subquery()

stmt = select(lecturer.c.surname, lecturer.c.name, subject.c.subj_name)
stmt = stmt.select_from(lecturer)
stmt = stmt.join(sl_1, sl_1.c.lecturer_id == lecturer.c.lecturer_id)
stmt = stmt.join(subject, subject.c.subj_id == sl_1.c.subj_id)
stmt = stmt.where(subq == 1)
stmt = stmt.order_by(lecturer.c.surname)

result = conn.execute(stmt).fetchall()
print(len(result))
result[:10]

12

[('Алексеев', 'Елисей', 'ОБЖ'),
 ('Беляков', 'Мефодий', 'Информатика'),
 ('Брагина', 'Нинель', 'ОБЖ'),
 ('Дорофеев', 'Прокофий', 'Программирование на языках Python и SQL'),
 ('Зимин', 'Юлиан', 'Программирование на языках Python и SQL'),
 ('Колесников', 'Борис', 'Физика'),
 ('Кудрявцева', 'Анна', 'Информатика'),
 ('Лагутин', 'Павел', 'Английский язык'),
 ('Мамонтова', 'Акулина', 'Программирование на языках Python и SQL'),
 ('Никонов', 'Иван', 'История')]

### 4. Напишите запрос для получения списка университетов вместе с фамилиями студентов, получивших хотя бы одну отличную оценку. Результат отсортируйте по названию университета.

#### Я сделал два разных решения, что попрактиковаться в использовании оператора exists()

In [16]:
subq = exists().where(and_(exam_marks.c.student_id == student.c.student_id, exam_marks.c.mark == 5))

stmt = select(university.c.univ_name, student.c.surname, student.c.name)
stmt = stmt.select_from(university)
stmt = stmt.join(student, student.c.univ_id == university.c.univ_id)
stmt = stmt.where(subq)
stmt = stmt.order_by(university.c.univ_name)


result = conn.execute(stmt).fetchall()
print(len(result))
result[:10]

10

[('ВГУ', 'Кузнецов', 'Борис'),
 ('ВГУ', 'Зайцева', 'Ольга'),
 ('ВГУ', 'Белкин', 'Вадим'),
 ('ВГУ', 'Жданова', 'Ирина'),
 ('ВГУ', 'Борисова', 'Марина'),
 ('МГТУ им. Баумана', 'Лапина', 'Элеонора'),
 ('МГУ', 'Блохина', 'Ираида'),
 ('ТГУ', 'Пак', 'Ирина'),
 ('ТГУ', 'Мельникова', 'Светлана'),
 ('ФГБОУ "Политех"', 'Васильев', 'Матвей')]

In [20]:
em_1 = exam_marks.alias("em_1")
em_2 = exam_marks.alias("em_2")

subq = select(func.max(em_2.c.mark))
subq = subq.where(em_2.c.student_id == student.c.student_id).scalar_subquery()

stmt = select(university.c.univ_name, student.c.surname, student.c.name).distinct()
stmt = stmt.select_from(university)
stmt = stmt.join(student, student.c.univ_id == university.c.univ_id)
stmt = stmt.join(em_1, em_1.c.student_id == student.c.student_id)
stmt = stmt.where(subq == 5)
stmt = stmt.order_by(university.c.univ_name)


result = conn.execute(stmt).fetchall()
print(len(result))
result[:10]

10

[('ВГУ', 'Жданова', 'Ирина'),
 ('ВГУ', 'Борисова', 'Марина'),
 ('ВГУ', 'Кузнецов', 'Борис'),
 ('ВГУ', 'Белкин', 'Вадим'),
 ('ВГУ', 'Зайцева', 'Ольга'),
 ('МГТУ им. Баумана', 'Лапина', 'Элеонора'),
 ('МГУ', 'Блохина', 'Ираида'),
 ('ТГУ', 'Мельникова', 'Светлана'),
 ('ТГУ', 'Пак', 'Ирина'),
 ('ФГБОУ "Политех"', 'Васильев', 'Матвей')]

### 5. Напишите запрос, выполняющий вывод имен и фамилий преподавателей, проводящих занятия на первом курсе. Отсортируйте результат по фаимилии преподавателя.

In [30]:
stmt = select(lecturer.c.surname, lecturer.c.name)
stmt = stmt.select_from(lecturer)
stmt = stmt.join(subj_lect, subj_lect.c.lecturer_id == lecturer.c.lecturer_id)
stmt = stmt.join(subject, subject.c.subj_id == subj_lect.c.subj_id)
stmt = stmt.where(subject.c.semester.in_([1, 2]))
stmt = stmt.group_by(lecturer.c.lecturer_id)
stmt = stmt.order_by(lecturer.c.surname)

result = conn.execute(stmt).fetchall()
print(len(result))
result[:10]

14

[('Алексеев', 'Елисей'),
 ('Беляков', 'Мефодий'),
 ('Беспалов', 'Юлиан'),
 ('Брагина', 'Нинель'),
 ('Волков', 'Михаил'),
 ('Дорофеев', 'Прокофий'),
 ('Зимин', 'Юлиан'),
 ('Колесников', 'Борис'),
 ('Кудрявцева', 'Анна'),
 ('Куликова', 'Ираида')]

### 6. Напишите запрос, выполняющий вывод наименований предметов обучения, читаемых двумя или более преподавателями. Результат должен состоять из одного столбца названий предметов, без повторов, в алфавитном порядке по возрастанию.

In [34]:
sl_1 = subj_lect.alias("sl_1")
sl_2 = subj_lect.alias("sl_2")

subq = select(func.count(sl_2.c.lecturer_id))
subq = subq.where(sl_2.c.subj_id == subject.c.subj_id).scalar_subquery()

stmt = select(subject.c.subj_name).distinct()
stmt = stmt.select_from(subject)
stmt = stmt.join(sl_1, sl_1.c.subj_id == subject.c.subj_id)
stmt = stmt.join(lecturer, lecturer.c.lecturer_id == sl_1.c.lecturer_id)
stmt = stmt.where(subq > 1)
stmt = stmt.order_by(subject.c.subj_name)


result = conn.execute(stmt).fetchall()
print(len(result))
result[:10]

5

[('Английский язык',),
 ('Информатика',),
 ('История',),
 ('ОБЖ',),
 ('Программирование на языках Python и SQL',)]