In [39]:
from sqlalchemy import MetaData, Table, create_engine, select, and_, or_, not_, text
from sqlalchemy.sql import func, distinct, exists, join
engine = create_engine('sqlite+pysqlite:////Users/vladislavvorosilov/Desktop/Python_SQL/Python_SQL_PI_2021_22_s2/Data/Students.db')
conn = engine.connect()
metadata = MetaData() 
metadata.reflect(bind=engine) 
exam_marks=Table("exam_marks", metadata, autoload=True, autoload_with="engine")
lecturer=Table("lecturer", metadata, autoload=True, autoload_with="engine")
student=Table("student", metadata, autoload=True, autoload_with="engine")
subj_lect=Table("subj_lect", metadata, autoload=True, autoload_with="engine")
subject=Table("subject", metadata, autoload=True, autoload_with="engine")
university=Table("university", metadata, autolad=True, autolad_with="engine")

## 1. Покажите названия университетов с указанием количества студентов, обучающихся на каждом курсе.

In [40]:
s = select(university.c.univ_name, func.count(student.c.student_id).label("Student_amount"), student.c.kurs)
s = s.join(student, university.c.univ_id == student.c.univ_id)
s = s.group_by(university.c.univ_id, student.c.kurs)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT university.univ_name, count(student.student_id) AS "Student_amount", student.kurs
FROM university JOIN student ON university.univ_id = student.univ_id GROUP BY university.univ_id, student.kurs
44

[('ВГУ', 4, 1),
 ('ВГУ', 3, 2),
 ('ВГУ', 5, 3),
 ('ВГУ', 1, 4),
 ('ВГУ', 3, 5),
 ('НГУ', 1, 1),
 ('НГУ', 1, 3),
 ('НГУ', 1, 4),
 ('НГУ', 1, 5),
 ('БГУ', 1, 1)]

## 2. Покажите фамилии, имена преподавателей и названия предметов, которые они преподают. Отсортировать по фамилии преподавателя.

In [23]:
s = select(lecturer.c.surname, lecturer.c.name, subject.c.subj_name)
s = s.select_from(lecturer)
s = s.join(subj_lect, lecturer.c.lecturer_id == subj_lect.c.lecturer_id)
s = s.join(subject, subj_lect.c.subj_id == subject.c.subj_id)
s = s.order_by(lecturer.c.surname)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT lecturer.surname, lecturer.name, subject.subj_name
FROM lecturer JOIN subj_lect ON lecturer.lecturer_id = subj_lect.lecturer_id JOIN subject ON subj_lect.subj_id = subject.subj_id ORDER BY lecturer.surname
24

[('Алексеев', 'Елисей', 'ОБЖ'),
 ('Беляков', 'Мефодий', 'Информатика'),
 ('Беспалов', 'Юлиан', 'Информатика'),
 ('Беспалов', 'Юлиан', 'Физкультура'),
 ('Брагина', 'Нинель', 'ОБЖ'),
 ('Волков', 'Михаил', 'Английский язык'),
 ('Волков', 'Михаил', 'Программирование на языках Python и SQL'),
 ('Дорофеев', 'Прокофий', 'Программирование на языках Python и SQL'),
 ('Зайцева', 'Юлия', 'История'),
 ('Зайцева', 'Юлия', 'Теория вероятностей и математическая статистика')]

## 3. Покажите суммарное количество часов каждого преподавателя в каждом семестре. Результат должен содержать фамилию, имя преподавателя, номер семестра, число часов.

In [24]:
s = select(lecturer.c.surname, lecturer.c.name, subject.c.semester, func.sum(subject.c.hour))
s = s.select_from(lecturer)
s = s.join(subj_lect, lecturer.c.lecturer_id == subj_lect.c.lecturer_id)
s = s.join(subject, subj_lect.c.subj_id == subject.c.subj_id)
s = s.group_by(lecturer.c.lecturer_id, subject.c.semester)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT lecturer.surname, lecturer.name, subject.semester, sum(subject.hour) AS sum_1
FROM lecturer JOIN subj_lect ON lecturer.lecturer_id = subj_lect.lecturer_id JOIN subject ON subj_lect.subj_id = subject.subj_id GROUP BY lecturer.lecturer_id, subject.semester
23

[('Сафонова', 'Лукия', 3, 56),
 ('Зайцева', 'Юлия', 4, 106),
 ('Мамонтова', 'Акулина', 2, 34),
 ('Брагина', 'Нинель', 2, 34),
 ('Максимова', 'Иванна', 1, 42),
 ('Максимова', 'Иванна', 2, 34),
 ('Куликова', 'Ираида', 2, 56),
 ('Куликова', 'Ираида', 4, 34),
 ('Кудрявцева', 'Анна', 1, 56),
 ('Дорофеев', 'Прокофий', 2, 34)]

## 4. Составьте список названий университетов вместе с названиями преподаваемых в них предметов.

In [25]:
s = select(university.c.univ_name, subject.c.subj_name)
s = s.select_from(university)
s = s.join(lecturer, lecturer.c.univ_id == university.c.univ_id)
s = s.join(subj_lect, lecturer.c.lecturer_id == subj_lect.c.lecturer_id)
s = s.join(subject, subj_lect.c.subj_id == subject.c.subj_id)


print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT university.univ_name, subject.subj_name
FROM university JOIN lecturer ON lecturer.univ_id = university.univ_id JOIN subj_lect ON lecturer.lecturer_id = subj_lect.lecturer_id JOIN subject ON subj_lect.subj_id = subject.subj_id
24

[('ВГУ', 'История'),
 ('ВГУ', 'ОБЖ'),
 ('МГУ', 'Английский язык'),
 ('КФУ', 'Математика'),
 ('ФГБОУ "Политех"', 'Программирование на языках Python и SQL'),
 ('ВГУ', 'История'),
 ('МГУ', 'ОБЖ'),
 ('ВГУ', 'Анализ данных'),
 ('ВГУ', 'Программирование на языках Python и SQL'),
 ('РГУ', 'Программирование на языках Python и SQL')]

## 5. Составьте список названий университетов с указанием суммарного количества аудиторных часов в каждом семестре.

In [27]:
s = select(university.c.univ_name, subject.c.semester, func.sum(subject.c.hour))
s = s.select_from(university)
s = s.join(lecturer, lecturer.c.univ_id == university.c.univ_id)
s = s.join(subj_lect, lecturer.c.lecturer_id == subj_lect.c.lecturer_id)
s = s.join(subject, subj_lect.c.subj_id == subject.c.subj_id)
s = s.group_by(university.c.univ_name, subject.c.semester)


print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT university.univ_name, subject.semester, sum(subject.hour) AS sum_1
FROM university JOIN lecturer ON lecturer.univ_id = university.univ_id JOIN subj_lect ON lecturer.lecturer_id = subj_lect.lecturer_id JOIN subject ON subj_lect.subj_id = subject.subj_id GROUP BY university.univ_name, subject.semester
19

[('ВГУ', 1, 76),
 ('ВГУ', 2, 68),
 ('ВГУ', 4, 140),
 ('КФУ', 1, 56),
 ('КФУ', 2, 56),
 ('КФУ', 4, 34),
 ('МГТУ им. Баумана', 2, 34),
 ('МГТУ им. Баумана', 3, 56),
 ('МГУ', 1, 56),
 ('МГУ', 2, 34)]

## 6. Сформируйте список преподавателей с указанием суммарного количества часов, отведенных для обучения каждому из предметов.

In [28]:
s = select(lecturer.c.surname, lecturer.c.name, subject.c.subj_name, func.sum(subject.c.hour))
s = s.select_from(lecturer)
s = s.join(subj_lect, lecturer.c.lecturer_id == subj_lect.c.lecturer_id)
s = s.join(subject, subj_lect.c.subj_id == subject.c.subj_id)
s = s.group_by(lecturer.c.lecturer_id, subject.c.subj_id)

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT lecturer.surname, lecturer.name, subject.subj_name, sum(subject.hour) AS sum_1
FROM lecturer JOIN subj_lect ON lecturer.lecturer_id = subj_lect.lecturer_id JOIN subject ON subj_lect.subj_id = subject.subj_id GROUP BY lecturer.lecturer_id, subject.subj_id
24

[('Сафонова', 'Лукия', 'Английский язык', 56),
 ('Зайцева', 'Юлия', 'Теория вероятностей и математическая статистика', 72),
 ('Зайцева', 'Юлия', 'История', 34),
 ('Мамонтова', 'Акулина', 'Программирование на языках Python и SQL', 34),
 ('Брагина', 'Нинель', 'ОБЖ', 34),
 ('Максимова', 'Иванна', 'Программирование на языках Python и SQL', 34),
 ('Максимова', 'Иванна', 'Анализ данных', 42),
 ('Куликова', 'Ираида', 'Математика', 56),
 ('Куликова', 'Ираида', 'История', 34),
 ('Кудрявцева', 'Анна', 'Информатика', 56)]

## 7. Напишите запрос для сортировки списка названий университетов по значениям максимальной стипендии, выплачиваемой студентам.

In [39]:
s = select(university.c.univ_name, func.max(student.c.stipend).label("Max_stipend"))
s = s.select_from(university)
s = s.join(student, student.c.univ_id == university.c.univ_id)
s = s.group_by(university.c.univ_id)
s = s.order_by("Max_stipend")


print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT university.univ_name, max(student.stipend) AS "Max_stipend"
FROM university JOIN student ON student.univ_id = university.univ_id GROUP BY university.univ_id ORDER BY "Max_stipend"
12

[('ВГМА', 200),
 ('МГТУ им. Баумана', 200),
 ('ФГБОУ "Политех"', 200),
 ('ВГУ', 250),
 ('НГУ', 250),
 ('БГУ', 250),
 ('ТГУ', 250),
 ('МГУ', 250),
 ('РГУ', 250),
 ('ФинУ', 250)]

## 8. Напишите запрос для получения списка названий университетов вместе с фамилиями и именами самых молодых студентов, обучаемых в них.

In [60]:
s1 = student.alias("s1")
s2 = student.alias("s2")

subq = select(func.max(s1.c.birthday))
subq = subq.where(s1.c.univ_id == university.c.univ_id).scalar_subquery()

s = select(university.c.univ_name, s2.c.surname, s2.c.name)
s = s.select_from(university)
s = s.join(s2, s2.c.univ_id == university.c.univ_id)
s = s.where(s2.c.birthday == subq)




print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT university.univ_name, s2.surname, s2.name
FROM university JOIN student AS s2 ON s2.univ_id = university.univ_id
WHERE s2.birthday = (SELECT max(s1.birthday) AS max_1
FROM student AS s1
WHERE s1.univ_id = university.univ_id)
12

[('ВГМА', 'Ордуханян', 'Рафаэль'),
 ('УЛГУ', 'Дуб', 'Елизавета'),
 ('НГУ', 'Журавлева', 'Вера'),
 ('ТГУ', 'Пак', 'Ирина'),
 ('ВГУ', 'Некрасова', 'Вероника'),
 ('МГТУ им. Баумана', 'Шубина', 'Елена'),
 ('МГУ', 'Гуляева', 'Рукижат'),
 ('КФУ', 'Назаров', 'Икром'),
 ('ФГБОУ "Политех"', 'Ситников', 'Викентий'),
 ('БГУ', 'Владимиров', 'Анатолий')]

## 9. Сформируйте список фамилий и имён студентов вместе с названиями предметов и оценками, полученными по каждому предмету на экзаменах. Отсортируйте результат по названию предмета.

In [61]:
s = select(student.c.surname, student.c.name, subject.c.subj_name, exam_marks.c.mark)
s = s.select_from(student)
s = s.join(exam_marks, student.c.student_id == exam_marks.c.student_id)
s = s.join(subject, subject.c.subj_id == exam_marks.c.subj_id)
s = s.order_by(subject.c.subj_name)


print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT student.surname, student.name, subject.subj_name, exam_marks.mark
FROM student JOIN exam_marks ON student.student_id = exam_marks.student_id JOIN subject ON subject.subj_id = exam_marks.subj_id ORDER BY subject.subj_name
47

[('Афанасьева', 'Анжелика', 'Анализ данных', 1),
 ('Федоров', 'Гостомысл', 'Анализ данных', 1),
 ('Мельникова', 'Дарья', 'Анализ данных', 2),
 ('Мишина', 'Светлана', 'Анализ данных', 1),
 ('Кузнецов', 'Борис', 'Анализ данных', 5),
 ('Семенова', 'Вероника', 'Английский язык', 4),
 ('Борисова', 'Марина', 'Английский язык', 5),
 ('Калашников', 'Евгений', 'Английский язык', 2),
 ('Пак', 'Ирина', 'Английский язык', 4),
 ('Вишнякова', 'Анжела', 'Информатика', 1)]

## 10. Напишите запрос для получения списка названий предметов вместе с фамилиями и именами студентов, получивших по данному предмету максимальную оценку. Результат отсортируйте по названию приедмета и по оценке.

In [63]:
em1 = exam_marks.alias("em1")
em2 = exam_marks.alias("em2")

subq = select(func.max(em2.c.mark))
subq = subq.where(em1.c.subj_id == em2.c.subj_id).scalar_subquery()

s = select(subject.c.subj_name, student.c.surname, student.c.name, em1.c.mark)
s = s.select_from(subject)
s = s.join(em1, subject.c.subj_id == em1.c.subj_id)
s = s.join(student, student.c.student_id == em1.c.student_id)
s = s.where(em1.c.mark == subq)
s = s.order_by(subject.c.subj_name, em1.c.mark)


print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT subject.subj_name, student.surname, student.name, em1.mark
FROM subject JOIN exam_marks AS em1 ON subject.subj_id = em1.subj_id JOIN student ON student.student_id = em1.student_id
WHERE em1.mark = (SELECT max(em2.mark) AS max_1
FROM exam_marks AS em2
WHERE em1.subj_id = em2.subj_id) ORDER BY subject.subj_name, em1.mark
14

[('Анализ данных', 'Кузнецов', 'Борис', 5),
 ('Английский язык', 'Борисова', 'Марина', 5),
 ('Информатика', 'Мельникова', 'Светлана', 5),
 ('Информатика', 'Белкин', 'Вадим', 5),
 ('Информатика', 'Зайцева', 'Ольга', 5),
 ('История', 'Жданова', 'Ирина', 5),
 ('История', 'Лапина', 'Элеонора', 5),
 ('Математика', 'Петрова', 'Екатерина', 3),
 ('ОБЖ', 'Васильев', 'Матвей', 5),
 ('Обработка данных и моделирование в Excel', 'Мельникова', 'Светлана', 4)]

## 11. Напишите запрос для получения списка предметов вместе с фамилиями студентов, сдававших экзамен по данному предмету последними. Результат упорядочить по дате.

In [67]:
em1 = exam_marks.alias("em1")
em2 = exam_marks.alias("em2")

subq = select(func.max(em2.c.exam_date))
subq = subq.where(em1.c.subj_id == em2.c.subj_id).scalar_subquery()

s = select(subject.c.subj_name, student.c.surname, student.c.name, func.date(em1.c.exam_date))
s = s.select_from(subject)
s = s.join(em1, subject.c.subj_id == em1.c.subj_id)
s = s.join(student, student.c.student_id == em1.c.student_id)
s = s.where(em1.c.exam_date == subq)
s = s.order_by(em1.c.exam_date)


print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT subject.subj_name, student.surname, student.name, date(em1.exam_date) AS date_1
FROM subject JOIN exam_marks AS em1 ON subject.subj_id = em1.subj_id JOIN student ON student.student_id = em1.student_id
WHERE em1.exam_date = (SELECT max(em2.exam_date) AS max_1
FROM exam_marks AS em2
WHERE em1.subj_id = em2.subj_id) ORDER BY em1.exam_date
10

[('Математика', 'Иванов', 'Иван', '2020-10-24'),
 ('Информатика', 'Ордуханян', 'Рафаэль', '2020-12-03'),
 ('Анализ данных', 'Афанасьева', 'Анжелика', '2021-06-02'),
 ('ОБЖ', 'Калашников', 'Евгений', '2021-06-02'),
 ('Физика', 'Трофимов', 'Владислав', '2021-06-02'),
 ('Программирование на языках Python и SQL', 'Пак', 'Ирина', '2021-06-03'),
 ('Английский язык', 'Пак', 'Ирина', '2021-06-04'),
 ('Физкультура', 'Пак', 'Ирина', '2021-06-05'),
 ('Обработка данных и моделирование в Excel', 'Мельникова', 'Светлана', '2021-06-05'),
 ('История', 'Мельникова', 'Светлана', '2021-06-07')]

## 12. Напишите запрос для получения списка предметов вместе с фамилиями студентов, первыми сдавших (оценка больше двух) экзамен по данному предмету.

In [ ]:
em1 = exam_marks.alias("em1")
em2 = exam_marks.alias("em2")

subq = select(func.min(em2.c.exam_date))
subq = subq.where(and_(em1.c.subj_id == em2.c.subj_id, em2.c.mark > 2, em1.c.mark > 2)).scalar_subquery()

s = select(subject.c.subj_name, student.c.surname, student.c.name, em1.c.mark, func.date(em1.c.exam_date))
s = s.select_from(subject)
s = s.join(em1, subject.c.subj_id == em1.c.subj_id)
s = s.join(student, student.c.student_id == em1.c.student_id)
s = s.where(em1.c.exam_date == subq)
s = s.order_by(em1.c.exam_date)


print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:11]

## 13. Напишите запрос для получения списка преподавателей, преподающих более одного предмета. Отсортируйте результат по фамилии преподавателя.

In [80]:
subq = select(func.count(em2.c.exam_date))
subq = subq.where(em1.c.subj_id == em2.c.subj_id).scalar_subquery()

s = select(lecturer.c.surname, lecturer.c.name, func.count(subj_lect.c.subj_id).label("Subj_amount"))
s = s.select_from(lecturer)
s = s.join(subj_lect, subj_lect.c.lecturer_id == lecturer.c.lecturer_id)
s = s.group_by(lecturer.c.lecturer_id)
s = s.having(text("Subj_amount > 1"))


print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT lecturer.surname, lecturer.name, count(subj_lect.subj_id) AS "Subj_amount"
FROM lecturer JOIN subj_lect ON subj_lect.lecturer_id = lecturer.lecturer_id GROUP BY lecturer.lecturer_id
HAVING Subj_amount > 1
6

[('Зайцева', 'Юлия', 2),
 ('Максимова', 'Иванна', 2),
 ('Куликова', 'Ираида', 2),
 ('Волков', 'Михаил', 2),
 ('Беспалов', 'Юлиан', 2),
 ('Струков', 'Николай', 2)]

## 14. Напишите запрос для получения списка (без повторов) студентов, сдававших экзамены по какому-либо из предметов более одного раза. Результат должен содержать идентификатор, фамилию, имя студента, название предмета. Результат необходимо упорядочить по идентификатору студента.

In [92]:
subq = select(func.count(em2.c.exam_date))
subq = subq.where(em1.c.subj_id == em2.c.subj_id).scalar_subquery()

s = select(student.c.surname, student.c.name, subject.c.subj_name, func.count(exam_marks.c.exam_id).label("Mark_count"))
s = s.select_from(student)
s = s.join(exam_marks, exam_marks.c.student_id == student.c.student_id)
s = s.join(subject, subject.c.subj_id == exam_marks.c.subj_id)
s = s.group_by(exam_marks.c.student_id, exam_marks.c.subj_id)
s = s.having(text("Mark_count > 1"))

print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:10]

SELECT student.surname, student.name, subject.subj_name, count(exam_marks.exam_id) AS "Mark_count"
FROM student JOIN exam_marks ON exam_marks.student_id = student.student_id JOIN subject ON subject.subj_id = exam_marks.subj_id GROUP BY exam_marks.student_id, exam_marks.subj_id
HAVING Mark_count > 1
2

[('Зайцева', 'Ольга', 'Информатика', 2), ('Белкин', 'Вадим', 'Информатика', 2)]

## 15. Напишите запрос для получения списка названий университетов вместе с фамилиями студентов, получивших хотя бы одну неудовлетворительную оценку. Результат отсортируйте по названию университета.

In [101]:
s = select(distinct(student.c.student_id), student.c.surname, student.c.name, university.c.univ_name, func.min(exam_marks.c.mark))
s = s.select_from(university)
s = s.join(student, university.c.univ_id == student.c.univ_id)
s = s.join(exam_marks, exam_marks.c.student_id == student.c.student_id)
s = s.where(exam_marks.c.mark < 2)
s = s.group_by(student.c.student_id)


print(s)
result = conn.execute(s).fetchall()
print(len(result))
result

SELECT DISTINCT student.student_id, student.surname, student.name, university.univ_name, min(exam_marks.mark) AS min_1
FROM university JOIN student ON university.univ_id = student.univ_id JOIN exam_marks ON exam_marks.student_id = student.student_id
WHERE exam_marks.mark < :mark_1 GROUP BY student.student_id
11

[(1, 'Иванов', 'Иван', 'ВГУ', 1),
 (65, 'Сергеева', 'Фёкла', 'ВГУ', 1),
 (73, 'Одинцова', 'Лидия', 'ФинУ', 1),
 (77, 'Мишина', 'Светлана', 'ВГМА', 1),
 (79, 'Афанасьева', 'Анжелика', 'РГУ', 1),
 (83, 'Сорокина', 'Ирина', 'УЛГУ', 1),
 (85, 'Казакова', 'Мария', 'РГУ', 1),
 (97, 'Вишнякова', 'Анжела', 'ФГБОУ "Политех"', 1),
 (110, 'Суханов', 'Константин', 'БГУ', 1),
 (116, 'Федоров', 'Гостомысл', 'ВГУ', 1),
 (126, 'Жуков', 'Пров', 'НГУ', 1)]

## 16. Напишите запрос, выполняющий вывод данных о предметах обучения, которые преподает Колесников. Распечатайте фамилию преподавателя и все столбцы таблицы предметов. результат отсортируйте по названию предмета.

## 17. Напишите запрос, выполняющий вывод идентификаторов, имен и фамилий преподавателей, проводящих занятия в двух и более семестрах. Отсортируйте результат по фамилии преподавателя.

## 18. Напишите запрос, выполняющий вывод количества часов занятий, проводимых преподавателем Лагутиным. Результат должен содержать одно число - количество часов.

## 19. Напишите запрос, выполняющий вывод фамилий преподавателей, учебная нагрузка которых (количество учебных часов) превышает нагрузку преподавателя Лагутина. Список преподавателей отсортируйте по возрастанию.

## 20. Напишите запрос, выполняющий вывод фамилий и имён преподавателей университетов с рейтингом, меньшим 350. Распечатайте фамилию, имя преподавателя, название университета. Отсортируйте по фамили преподавателя.

## 21. Напишите запрос, выполняющий вывод общего количества учебных часов занятий, проводимых для студентов первого курса ВГУ.

## 22. Напишите запрос, выполняющий вывод среднего количества учебных часов предметов обучения, преподаваемых студентам второго курса ВГУ.

## 23. Напишите запрос, выполняющий вывод списка фамилий студентов, имеющих две или более отличных оценок в каждом семестре.

In [112]:
s1 = subject.alias("s1") 
s2 = subject.alias("s2") 

subq = select(s2.c.semester)
subq = subq.where(s2.c.subj_id == exam_marks.c.subj_id).scalar_subquery()


s = select(student.c.surname, student.c.name, s1.c.semester, func.count(exam_marks.c.mark).label("Best_amount"))
s = s.select_from(student)
s = s.join(exam_marks, exam_marks.c.student_id == student.c.student_id)
s = s.join(s1, s1.c.subj_id == exam_marks.c.subj_id)
s = s.group_by(student.c.student_id, s1.c.semester)
s = s.having(and_(text("Best_amount >= 2"), s1.c.semester == subq))


print(s)
result = conn.execute(s).fetchall()
print(len(result))
result[:11]

SELECT student.surname, student.name, s1.semester, count(exam_marks.mark) AS "Best_amount"
FROM student JOIN exam_marks ON exam_marks.student_id = student.student_id JOIN subject AS s1 ON s1.subj_id = exam_marks.subj_id GROUP BY student.student_id, s1.semester
HAVING Best_amount >= 2 AND s1.semester = (SELECT s2.semester
FROM subject AS s2
WHERE s2.subj_id = exam_marks.subj_id)
1

[('Зайцева', 'Ольга', 1, 2)]

надо доделать это задание

## 24. Приведите как можно больше формулировок запроса “Получить фамилии студентов, сдававших экзамен по информатике”.

## 25. Приведите как можно больше формулировок запроса “Получить фамилии преподавателей, преподающих информатику".